<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262255359879-cl54mjdh8f52q5hmcsr4mhvql1gb7p3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262255359879-cl54mjdh8f52q5hmcsr4mhvql1gb7p3s</string>
	<key>API_KEY</key>
	<string>AIzaSyCGE_8HHjKwJVqiq-TmjpalhvHNDisUzWE</string>
	<key>GCM_SENDER_ID</key>
	<string>262255359879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.victorsanchez.CRUD-MVC</string>
	<key>PROJECT_ID</key>
	<string>arq-de-software-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>arq-de-software-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262255359879:ios:8d9031157248b423174522</string>
</dict>
</plist>